<?xml version="1.0" encoding="UTF-8"?>
	
	<beans:beans xmlns="http://www.springframework.org/schema/security"
		xmlns:beans="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
							http://www.springframework.org/schema/security
							http://www.springframework.org/schema/security/spring-security-3.1.xsd">
		
		<http pattern="/static/css/**" security="none" />
		<http pattern="/static/js/**" security="none" />
		<http pattern="/static/fonts/**" security="none" />
		<http pattern="/static/png/**" security="none" />
		
		<http use-expressions="true" access-decision-manager-ref="accessDecisionManager">
			<intercept-url pattern="/add-computer" access="hasRole('ROLE_ADMIN')" />
			<intercept-url pattern="/edit-computer/**" access="hasRole('ROLE_ADMIN')" />
			<intercept-url pattern="/delete-computer" access="hasRole('ROLE_ADMIN')" />
			<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
			<http-basic />
			<logout />
			<form-login />
			<custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" />
		</http>
		
		
		<authentication-manager>
			<authentication-provider user-service-ref='userServiceImpl' />
		</authentication-manager>
		
		
		<beans:bean id="roleVoter"
			class="org.springframework.security.access.vote.RoleHierarchyVoter">
			<beans:constructor-arg ref="roleHierarchy" />
		</beans:bean>
		
		<beans:bean id="roleHierarchy"
			class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
			<beans:property name="hierarchy">
				<beans:value>
					ROLE_ADMIN > ROLE_USER
				</beans:value>
			</beans:property>
		</beans:bean>
		
		
		<beans:bean id="accessDecisionManager"
			class="org.springframework.security.access.vote.AffirmativeBased">
			<beans:property name="decisionVoters">
				<beans:list>
					<beans:ref bean="roleVoter" />
					<beans:bean
						class="org.springframework.security.web.access.expression.WebExpressionVoter">
						<beans:property name="expressionHandler">
							<beans:bean
								class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
								<beans:property name="roleHierarchy" ref="roleHierarchy" />
							</beans:bean>
						</beans:property>
					</beans:bean>
				</beans:list>
			</beans:property>
		</beans:bean>
		
		
		<beans:bean id="digestFilter"
			class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
			<beans:property name="userDetailsService" ref="userServiceImpl" />
			<beans:property name="authenticationEntryPoint" ref="digestEntryPoint" />
			<beans:property name="passwordAlreadyEncoded" value="true" />
		</beans:bean>
		
		
		<beans:bean id="digestEntryPoint"
			class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
			<beans:property name="realmName"
				value="Contacts Realm via Digest Authentication" />
			<beans:property name="key" value="acegi" />
		</beans:bean>
		
		
	</beans:beans>